<div style="height:220px; margin:0 522px; width: 220px;">
    <div id="face"></div>
</div>
<div class="frame-background">
    <div class="contents-background"></div>
</div>
<div class="main-menu">
    <ul class="nav nav-justified" style="">
        <li class="dropdown">
		  <a href="#" ng-click="scrollDest('wp-wrapper')" class="large-tag">WORK/PROJECT<img id="balance-img" src="img/Work-1.png" height="50" wdith="50" style="position:absolute;"></a>
		</li>
        <li class="dropdown">
		  <a href="#"  ng-click="scrollDest('resume')" class="large-tag">RESUME<img id="balance-img" src="img/cv-icon.png" height="50" wdith="50" style="position:absolute;"></a>
		</li>
		<li class="dropdown">
		  <a href="#" ng-click="scrollDest('about')" class="large-tag">ABOUT<img id="balance-img" src="img/about-icon.png" height="50" wdith="50" style="position:absolute;"></a>
		</li>
        <li class="dropdown">
		  <a href="#" ng-click="scrollDest('contact')" class="large-tag">CONTACT<img id="balance-img" src="img/contact-icon.png" height="50" wdith="50" style="position:absolute;"></a>
		</li>
    </ul> 
</div> 
<div id="work-project">
    <div style="border-radius:0;padding-top:250px;">
        <div id="wp-wrapper" style="padding-top:20px;">
            <div style="text-align:center">
                <hr style="width:150px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
                <hr style="width:310px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
            </div>
            <h2 style="font-weight: bold; text-align:center; margin:0;"><img src="img/rocket-icon.png" height="50" wdith="50" style="position:relative; right:10px;">WORK / PROJECT</h2>
            <div style="text-align:center">
                <hr style="width:310px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
                <hr style="width:150px; margin-top:0 !important;margin-bottom:50px !important; border-top:1px solid #2E2E2E !important;">
            </div>
            <div class="wp-content">
                <div class="wp-header">
                    <div>Codeclouds - Full Stack Developer</div>
                </div>
                <div style="margin-top:20px; font-size:18px;">
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Codeclouds is a web developer company that involves in creating responsive Web Design, CRM and e-commerce websites
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                           Object Oriented Programming and Building responsible MVC based web application using PHP, AngularJS, and JQuery
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Placing Affiliate Marketing tracking pixels (Hitpath, Cake, HasOffer) as well as solving tracking issues
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Leading and work with the team and solve various problems and tasks
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                           Solving CRM Limelight and Konnektive issues and API implementation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Team tasks management and Computer based training 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            AngularJS, PHP, JQuyer, SQL, CSS/LESS, Laravel
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;"></div>
                        <div class="col-md-11">
                            <a href="https://www.codeclouds.com">Codeclouds Website</a>
                        </div> 
                    </div> 
                </div>

                <div class="wp-header" style="margin-top:100px;">
                    <div>3TwoOne - Front End Developer</div>
                </div>
                <div style="margin-top:20px; font-size:18px;">
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            3TwoOne is a next generation IoT software for people who lacks in programming knowledge to build own applications using visual and intuitive web interface
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                           Data Object Oriented Programming, User Interface and layout Design
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Sing Page Application based
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Usability Testing such as tracking platform
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Main features that I have involved with:<br/> 
                            &nbsp&nbsp - &nbsp&nbsp Chrome-like tab system<br/>
                            &nbsp&nbsp - &nbsp&nbsp Dynamic Search Engine<br/>
                            &nbsp&nbsp - &nbsp&nbsp # tagging system<br/>
                            &nbsp&nbsp - &nbsp&nbsp User Account<br/>
                            &nbsp&nbsp - &nbsp&nbsp Simulation<br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Git repository and NodeJS work environment
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            AngularJS, JQuery, Javscript, SQL, NodeJS, JointJS, CSS/LESS, Grunt
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;"></div>
                        <div class="col-md-11">
                            <a href="http://www.3twoone.com">3TwoOne Website</a>
                        </div> 
                    </div> 
                </div>
            <div class="wp-header" style="margin-top:100px;">
                <div>Aimhigh - Software Developer</div>
            </div>
            <div style="margin-top:20px; font-size:18px;">
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            The aim is to provide simple and effective management system to students for their  study, homework, and exam preparation with effective and attractive features. 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Implementation of Mathematic equation solving algorithm in C# .NET
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Design and display questions by HTML5 template, LESS, and Javascript
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Usability Testing to better user experience
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Building API library and complex function where system generates unique questions and answers
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            Main features that I have involved with:<br/> 
                            &nbsp&nbsp - &nbsp&nbsp Coding and designing main layout<br/>
                            &nbsp&nbsp - &nbsp&nbsp User Interface and CRUD functionality<br/>
                            &nbsp&nbsp - &nbsp&nbsp API Library<br/>
                            &nbsp&nbsp - &nbsp&nbsp Management SQL database queries<br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="position:relative; left:15px;">♢</div>
                        <div class="col-md-11">
                            C# .NET, SQLite, MS SQL, MySQL, Php, HTML5, CSS, Git
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>
<div>
    <div id="resume" style="border-radius:0;padding-top:50px;" data-stellar-background-ratio="0.3">
        <div style="text-align:center; padding-top:50px;">
                <hr style="width:100px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #FFF !important;">
                <hr style="width:200px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #FFF !important;">
        </div>
        <h2 style="font-weight: bold; text-align:center; margin:0;color:white"><img src="img/resume.png" height="50" wdith="50" style="position:relative; right:10px;">RESUME</h2>
        <div style="text-align:center">
                <hr style="width:200px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #FFF !important;">
                <hr style="width:100px; margin-top:0 !important;margin-bottom:50px !important; border-top:1px solid $FFF !important;">
        </div>
        <div class="wp-content" style="color:white; font-size:18px; text-align:center;">
            <div class="resume-header">
                <div>EDUCATION</div>
            </div>
            <div class="resume-content" style="margin: 20px 0; font-size:18px;">
                <div>Rangitoto College Graudated (2006 ~ 2010)</div>
                <div>University of Auckland Bachelor of Computer Science and Chemistry Graduated (2011 ~ 2015)</div>
            </div>
            <div class="resume-header">
                <div>SKILLS</div>
            </div>
            <div class="resume-content" style="margin: 20px 0; font-size:18px;">
                <div>C# .NET MVC </div>
                <div>Java</div>
                <div>AngularJS</div>
                <div>JQuery</div>
                <div>MS SQL </div>
                <div>MySQL </div>
                <div>Php + Laravel</div>
                <div>Bootstrap + CSS + HTML5 </div>
                <div>NodeJS, Grunt </div>
                <div>Bash </div>
            </div>
            <div class="resume-header">
                <div>TECHNOLOGY</div>
            </div>
            <div class="resume-content" style="margin: 20px 0; font-size:18px;">
                <div>Git</div>
                <div>Tracking Platform (HasOffer, Cake, HitPath) </div>
                <div>InVision </div>
                <div>Mixpanel </div>
                <div>Photoshop </div>
                <div>Paint .NET </div>
                <div>Vegas </div>
            </div>
            <div class="resume-header">
                <div>EXPERIENCE</div>
            </div>
            <div class="resume-content" style="margin: 20px 0; font-size:18px;">
				<div>Codeclouds - Full Stack Developer 9/16 ~ Now</div> 
                <div>3TwoOne - Front End Developer 02/16 ~ 08/16</div>
                <div>Aimhigh - Software Developer 09/15 ~ 12/15</div> 
                <div>PBTechnology - Technician </div><br/>
                More detail <a href="#" ng-click="scrollDest('wp-wrapper')" style="color:#FFD972">Click here </a>
            </div>
        </div>
    </div>
</div>
<div id="about">
    <div id="wp-wrapper" style="padding-top:20px;">
            <div style="text-align:center">
                <hr style="width:60px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
                <hr style="width:220px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
            </div>
            <h2 style="font-weight: bold; text-align:center; margin:0;"><img src="img/aboutme.png" height="50" wdith="50" style="position:relative; right:10px;">ABOUT ME</h2>
            <div style="text-align:center">
                <hr style="width:220px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
                <hr style="width:60px; margin-top:0 !important;margin-bottom:50px !important; border-top:1px solid #2E2E2E !important;">
            </div>
    </div>
    <div class="wp-content" style="font-size:18px; text-align:center;">
        <div style="margin-bottom:40px;">Hello! My name is Chan Woo Ro. I have graduated Computer Science and Chemistry. I love programming and I like to develop new stuffs from scratch when I have a spare time.<br/> I always think about users and take an extra effort to produce better user interaction in work.<br/> Now, I possess a strong desire to build my career as designer, and developer.<br/><br/> My goal is to develop my skills and become a someone who is valuable in many companies and brings positive impact on company</div>
        <div class="row">
            <div class="col-md-4" style="padding-top:20px;">
                <hr style="width:300px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
                <hr style="width:300px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important;">
            </div>
            <div class="col-md-4">
                <div class="resume-header">
                    <div>WHAT I DO</div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top:20px;">
                <hr style="width:300px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important; float:right;">
                <hr style="width:300px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #2E2E2E !important; float:right;">
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4" style="text-align:center">
                <img src="img/develop.png" height="200" wdith="200"><br/>
                <div style="font-weight:bold; font-size:18px;">DEVELOPMENT</div>
                <div style="font-size:14px;">Web, Software</div>
            </div>
            <div class="col-md-4" style="text-align:center">
                <img src="img/design.png" height="200" wdith="200"><br/>
                <div style="font-weight:bold; font-size:18px;">DESIGN</div>
                <div style="font-size:14px;">InVision, Photoshop/Paint .NET</div>
            </div>
            <div class="col-md-4" style="text-align:center">
                <img src="img/database.png" height="200" wdith="200"><br/>
                <div style="font-weight:bold; font-size:18px;">DATABASE</div>
                <div style="font-size:14px;">Php, MySQL, MS SQL</div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <a href="https://github.com/chanwooro">Github: Chan Woo Ro </a>
    </div>
    
</div>
<div id="contact">
    <div id="wp-wrapper" style="padding-top:20px; color:white;">
            <div style="text-align:center">
                <hr style="width:150px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #FFF !important;">
                <hr style="width:220px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #FFF !important;">
            </div>
            <h2 style="font-weight: bold; text-align:center; margin:0;"><img src="img/contacticon.png" height="50" wdith="50" style="position:relative; right:10px;">CONTACT</h2>
            <div style="text-align:center">
                <hr style="width:220px; margin-top:0 !important;margin-bottom:5px !important; border-top:1px solid #FFF !important;">
                <hr style="width:150px; margin-top:0 !important;margin-bottom:50px !important; border-top:1px solid #FFF !important;">
            </div>
    </div>
    <div class="wp-content" style="font-size:18px; text-align:center; color:white;">
        <div style="font-weight:bold"><img id="balance-img" src="img/Email-Icon.png" height="50" wdith="50">
             EMAIL
            <div style="font-size:14px;">
                chanwooro92@gmail.com
            </div>
        </div>
        <br/>
        <div style="font-weight:bold"><img id="balance-img" src="img/phone-icon.png" height="50" wdith="50">
             HOME
            <div style="font-size:14px;">
                +64 9 - 410 - 0505
            </div>
        </div>
        <br/>
        <div style="font-weight:bold"><img id="balance-img" src="img/mobile-icon.png" height="50" wdith="50">
             MOBILE
            <div style="font-size:14px;">
                +64 21 - 296 - 4112
            </div>
        </div>
    </div>
</div>