<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../css/style.css">
    <title>CRUD</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <script src="../Scripts/angular.js"></script>
    <script src="../js/app.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="back">
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="menu-toggle"> ChanWooRo</a>
            </div>
            <div>

                <ul class="nav navbar-nav" id="colorRandom">

                    <li><a rel="#fe4902" href="../index.html">My Profile</a></li>
                    <li><a rel="#fe4902" href="Chart.html">Simple Charts</a></li>
                    <li><a rel="#fe4902" href="Dashboard.html">Dashboard</a></li>
                    <li class="current_page_item">
                    <a id="selected" href="#">CRUD</a>
                    </li>
                    <li><a rel="#C6AA01" href="Resources.html">Resources </a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav navbar-right"  style="max-height: 50px;">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"style="max-height: 50px;" >
                            <span class="profile-ava">
                                <img src="../img/profile.jpg" >
                            </span>
                           
                           <span class="username">Chan Woo Ro</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li><a href="../index.html" id="profilelist"><i id="iconProfile" class="glyphicon glyphicon-user"></i>My Profile</a></li>
                            <li><a href="#" id="profilelist"><i id="iconProfile" class="fa fa-code-fork"></i>My Setting</a></li>
                        </ul>
                        
                    </li>
                </ul>
        </div>
    </nav>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                       
                    </a>
                </li>
                <li>
                    <a href="../index.html">My Profile</a>
                </li>
                <li >
                    <a  href="Chart.html">Simple Charts</a>
                </li>
                <li>
                    <a href="Dashboard.html">Dashboard</a>
                </li>
                <li class="current_page_item">
                    <a id="selected" href="CRUD.html">CRUD</a>
                </li>
                <li>
                    <a href="Resources.html">Resources</a>
                </li>
               
            </ul>
        </div>
        
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div ng-app="myApp"> 
                        <div class="col-lg-12" ng-controller="mainController">
                            <div class="card">
                                <h2>Simple Table Displayment from SQL database</h2>
                                <table class="table table-inverse">
                                    <tr class="success">
                                        <th>Month</th>
                                        <th>Sales</th>
                                    </tr>

                                    <tbody>
                                        <tr ng-repeat="x in lists" class="info">
                                            <td> {{x.Month}} </td>
                                            <td> {{x.Sales}} </td>
                                        </tr>

                                    </tbody>
                                </table>
                               
                            </div>


                            <!-- Explanation of codes -->
                            <div class="card" id="space">
                                <h3>Code for CRUD's Reading</h3>
                                <h5>AngularJS</h5>
                                <pre>
var myApp = angular.module('myApp', []);                                                             <--declaring module called 'myApp' as myapp.
myapp.controller('maincontroller', function ($scope, $http) {                                        <--set module's controller 'mainController' taking function with $scope and $http.
    $http.get('home/GetList')                                                                        <--Getting information of SQL data displayed as JSON type from /home/GetList (GetList is from Controller)
        .success(function (result) {                                                                 <--if success, call function with result which contains all data and set into ng-repeat 'lists'
            $scope.lists = result;
        })
        .error(function (data) {                                                                     <--if it gives error, log can be viewed from f12 in browser
            console.log(data);

        });

                                </pre>
                                <h5>HTML</h5>
<pre><xmp>
                <div ng-controller="mainController">                                                  <--Controller 'mainController'
                    <table class="table table-inverse">
                        <tr class="success">
                            <th>Month</th>
                            <th>Sales</th>
                        </tr>
                    <tbody>
                        <tr ng-repeat="x in lists" class="info">                                      <--This 'lists' is from $scope.lists in AngularJS Code
                            <td> { { x.Month } } </td>  (brackets should not have space betweens)
                            <td> { { x.Sales } } </td>
                        </tr>
                   </tbody>
                  </table>
    </xmp>
</pre>
                                </br>
                                <h3>Code for CRUD's Creating</h3>
                                <h5>AngularJS</h5>
                                <pre>
var myApp = angular.module('myApp', []);
myApp.controller('mainController', function ($scope, $http) {
    $http.get('home/GetList')
        .success(function (result) {
            $scope.lists = result;
        })
        .error(function (data) {
            console.log(data);
            
        });
    $scope.month = "";
    $scope.sales = 0;
    $scope.addSales = function () {
        $http.post("/home/AddSales", { Month: $scope.month, Sales: $scope.sales })       <--Creating new Data.
            .success(function (result) {
                $scope.lists = result;
                $scope.month = "";                                                       <--Refresh after saving
                $scope.sales = 0;
            }).error(function (data) {
                console.log(data);
            });
        
    }
});
</pre>
                                <h5>HTML</h5>
                                <pre><xmp>                        
<h3>Month</h3>
    <input type="text" required ng-model="month" />                                       <--Input box and similar to setting variable as 'month'
<h3>Sales</h3>
    <input type="number" required ng-model="sales" />
    <a href="#" class="btn btn-primary" ng-click="addSales()">Add</a>                     <--'addSales()' is from $scope.addSales = function()...  in AngularJS               
                                    
</xmp></pre>
                            </div>
                        </div>
                        
                
  

                    </div>
            
                    
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    <script src="../js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        var randomLinks = $('#colorRandom a');
        var original = randomLinks.css('background');
        var colors = ['#f9c213', '#f35c4a', '#3da1bf', '#827287', '#DF013A', '#D7DF01', '#2EFEF7', '#F781F3'];


        randomLinks.hover(function () { //mouseover
            var col2 = Math.floor(Math.random() * colors.length);
            var newcolor = colors[col2];
            $(this).css('background', newcolor);
        }, function () { //mouseout
            $(this).css('background', original);
        });
        
    </script>

</body>

</html>
