a, a:active, a:visitied{
    text-decoration: none;
    
}

html, body{
    height: 100%;
    width: 100%;
    
} 
/*Menu Navigation Bar*/

ul.menu{ 
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;  
  padding-left: 0px;  
  
  
}

.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.contentsBackground{
	height: 100%;
	width: 100%;
}

.stellar{
	background:url("../images/background/upper.png");
	position: relative;
	overflow: auto;
}

.main{
    background-color: darksalmon;
    text-align: center;
}
.menu li{
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
    text-align: center
}

.menu a{
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  
}
.menu a:hover{
    display: block;
    text-decoration: none;
    background-color:azure
    
}


/*Log in system*/
.login{
    text-align: left;
    
    
}
.loginContainer{      
    display: inline-block;
}
.auth{
    list-style: none;
    background-color:white;
    width: 100%;
    padding-left: 0px;
}

.auth li{
  
    width: 100%;
    display: inline-block;    
}

.auth a{
    text-align: center;
    display: block;
    padding: 3px 10px 3px 10px;
    
}
.auth a:hover{
    display: block;
    background-color:lightgrey;
    text-decoration: none;
}

/*Mouse Hovering system*/
#mhover{
    width : 250px;
}
#mhover-span{
    display: none;
}
#mhover:hover span {
    display:block;
    position:absolute;
    overflow:hidden;
    font-weight: bold;
    background-color: #58bb48;
}

#titleBackground{
    background-color: aquamarine;
    
}

.contentsContainer{
    height: 100%;
    width: 100%;
    
}
.centering{
    margin:0 auto;
    width: 65%; 
    height: 100%;
    min-width:1235px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    
}

.titlePortal{
    margin: 40px 15px;    
}

.links{
    text-decoration: none;
    color: black;    
}

.links:hover{
    text-decoration: none; 
    color: aquamarine;
    transition: 0.2s;
}

.tid{
    background: #E0F8F1;
    border-color: black;
    border-style: solid;
    border-width: 1px;    
    text-overflow: ellipsis;
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}
#background{
  width:100%;
  height:100%;
  overflow:auto;
  background: #464542;
}
.container-card{
    background:white; 
    padding:20px;
    border-radius:5px;
}
.frame-background{
    background: url("../img/frame.jpg");
    height:200px;
    min-width:1230px;
    overflow:auto;
}
#work-project{
    background: url("../img/frame.jpg");
    min-width:1230px;
    overflow:auto;
}
#resume{
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url("../img/b2.jpeg");
    background-attachment: fixed;
    min-width:1230px;
    overflow:auto;
}
.contents-background{
    background: url("../img/back-content.png");
    height:100%;
    width:100%; 
}
#face{
    background: url("../img/cro-small.jpg");
    background-repeat: no-repeat;
    position:relative;
    z-index:10;
    height:210px;
    width:210px;
    border-radius:50%;
    top:70px;
}
.main-menu{
    background: url("../img/frame.jpg");
    height:100px;
    min-width:1236px;
}
.nav{
    display:table;
    height:100% !important; 
}
.nav>li{
    width: calc(100%/4) !important;
    margin:0;
    width:auto;
    display:table-cell;
    height:100%;
    background-color: #2E2E2E;
    transition: 0.2s;
    a{
        padding:25px 10px !important;
        font-weight:bold;
        font-size:20px;
        color:white;
        height:100px;
    }
    a:visited{
        color:white;
        background: #2E2E2E !important;
        text-decoration: none !important;
    }
    a:active{
        color: #565656 !important;
        background: transparent !important;
    }
}

.nav>li:hover{
    transition: 0.3s !important;
    background-color:none;
    background: transparent !important;
    a{ 
        color:#565656;
    }
    a:hover{
        color:inherit !important;
        background: transparent;
        text-decoration:none;
    }
    
}

#work{
    background: url("../img/Work-1.png");
    background-repeat: no-repeat;
    position:relative;
    z-index:1;
}
#balance-img{
    top:calc(100%/2);
    left:calc(84%/2);
}
#about{
    overflow:auto;
    background: white;
    padding-top:100px;
    padding-bottom: 100px;
}
#contact{
    overflow:auto;
    padding-top:100px;
    padding-bottom: 100px;
    background: #4F4F4F;
}
.resume-content{
    div{
        transition:0.4s;
    }
    div:hover{
        transition:0.4s;
        color:#FFD972;
    }
}
.wp-content{
    margin:35px 200px;
    .resume-header{
      background: url("../img/resume-header.png");
      background-repeat:no-repeat;
      height:50px;
      margin:0 auto;
      width: 200px;
        div{
            text-align:center;
            font-size:22px;
            position:relative;
            top:10px;
            font-weight:bold;
            color:white;
        }
    }
    .wp-header{
      background: url("../img/wp-header.png");
      background-repeat:no-repeat;
      height:50px;
      margin:0 auto;
      width: 400px;
        div{
            text-align:center;
            font-size:22px;
            position:relative;
            top:10px;
            font-weight:bold;
            color:white;
        }
    }   
}